body, html{
  	margin: 0;
  	padding: 0;
  	width: 100%;
  	text-align: justify;
    background-image: url("../css/background.png");
  	background-repeat: no-repeat;
  	background-size: cover;
  	top: 50%;
  	left: 50%;

}

td
{
     width: 150px;
     height: 150px;
     font-weight: bold;
     font-size: 50px;
     border: 4px solid black;
     background-color: hsla(240, 100%, 50%, .4);
}

.title{
    font-family: 'Ubuntu', sans-serif;
    font-size: 34px;
    background-color: black;
    color: white;
    height: auto;
    text-align: center;
    margin: 0;
}

.Jeu
{
     top: 50%;
     left: 50%;
     width: 600px;
     height: 620px;
     overflow: auto;
     margin: auto;
}
.vide{

}


.joueur1{
	background-color: red;
}

.joueur2{
	background-color: yellow;
}
